html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

header,
footer {
  display: flex;
  background-color: rosybrown;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
}

header {
  top: 0;
  height: 60px;
}

header > .login {
  margin-right: 2%;
}

footer {
  bottom: 0;
  height: 50px;
}

footer > div:first-child {
  margin-left: 2%;
}
footer > div:last-child {
  margin-right: 2%;
}

.content {
  flex: 1;
  margin-top: 60px;
  padding-bottom: 60px;
  overflow-y: auto;
}

.copyright {
  font-size: 10px;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.social-icons img {
  width: 22px;
  height: 20px;
  object-fit: contain;
}
