.img-gallery {
  display: flex;
  gap: 2px;
}

.img-gallery img {
  width: 300px;
  height: 300px;
  object-fit: fill;
  padding-right: 2px;
}

.social-icons img{
  width: 22px;
  height: 22px;
  object-fit: contain;
}
