.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.searchbar {
  height: 380px;
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar > input {
  width: 24%;
  background-color: #f1f1f1;
  border-color: transparent;
  border-radius: 12px;
  padding: 8px;
  font-size: 16px;
}

.searchbar > input:focus-visible {
  outline: none;
}

.img-gallery {
  margin: 4% 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 10px grey;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}
