.content {
  display: flex;
  flex-direction: column;
}
.view-group {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
}

.view-group > li {
  padding: 10px;
  cursor: pointer;
}

.hotel-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hotel-item {
  margin: 2% 4%;
  flex: 0 0 calc(50% - 8%);
  margin-bottom: 20px;
  /* box-sizing: border-box; */
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  height: 250px;
  gap: 2%;
}

.hotel-item:hover {
  background-color: rosybrown;
}

.des{
  padding-top: 2%;
}

.hotel-item img {
  width: 250px;
  height: 100%;
}

.hotel-item:first-child {
  cursor: pointer;
}

#map-view {
  display: none;
}
