.content {
  display: flex;
  flex-direction: column;
}
.view-group {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
}

.view-group > li {
  padding: 10px;
  cursor: pointer;
}

.hotel-item {
  background-color: lightgray;
  height: auto;
  gap: 2%;
}

.hotel-item:hover {
  background-color: rosybrown;
}

.des {
  padding-top: 2%;
}

.hotel-item img {
  width: 250px;
  height: 100%;
}

/* For small screen sizes (max-width 576px and below) */
@media (max-width: 576px) {
  .hotel-item img {
    width: 100%; /* Full width of .hotel-item */
  }

  #map-view img{
    width: 100%;
  }
}

.hotel-item:first-child {
  cursor: pointer;
}

.star-rating[data-rating="1"] i:nth-child(-n + 1),
.star-rating[data-rating="2"] i:nth-child(-n + 2),
.star-rating[data-rating="3"] i:nth-child(-n + 3),
.star-rating[data-rating="4"] i:nth-child(-n + 4),
.star-rating[data-rating="5"] i:nth-child(-n + 5) {
  color: #ffa600;
}

.half-star {
  position: relative;
  background: linear-gradient(to right, #ffa600 50%, #fff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#map-view {
  display: none;
}
