.content{
  display: flex;
  flex-direction: column;
}
.hotel-details {
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: rgb(132, 136, 139);
  display: flex;
  gap: 2%;
  align-items: center;
}

.hotel-details img {
  max-width: 270px;
  max-height: 300px;
  object-fit: cover;
}

.customer-details {
  margin: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1% 2%;
  background-color: rosybrown;
}

.headings{
  font-family: cursive;
}
